[env]
_.file = [".env"]

[settings]
activate_aggressive = true
experimental = true

[tools]
actionlint = "latest"
hk = "latest"
pkl = "latest"
swift = "latest"
usage = "latest"
xcbeautify = "latest"
yamllint = "latest"

[tasks.open]
run = "xcrun xed ."

[tasks.build]
run = "swift build"

[tasks.run]
alias = "odo"
run = "swift run odo"

[tasks.clean]
run = "swift package clean"

[tasks.nuke]
depends = ["clean"]
run = [
  "rm -rf .build",
  "rm -rf DerivedData",
  "rm -rf ~/Library/Developer/Xcode/DerivedData",
  "rm -rf ~/Library/Caches/org.swift.swiftpm",
  "rm -rf ~/Library/org.swift.swiftpm",
]

[tasks.check]
alias = ["lint"]
run = "hk check --all"

[tasks.fix]
alias = ["fmt", "format"]
run = "hk fix --all"

[tasks.upgrade]
alias = ["bump", "update"]
run = "mise upgrade --bump"
